# Mac
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Datos raw (son pesados, no van en Git)
data/raw/

# Variables de entorno
.env
src/models/rf_precio.pkl
